@charset "utf-8";
/*UTILITY*/
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
body {
    margin: 0;
    font-family: Verdana, sans-serif;
    color: white;
}

    /*STRUCTURE*/
header { width: 100%; height: 60px; background-color: dimgrey; padding: 5px 0; margin-bottom: 5px; }
.container { width: 940px; height: 98%; background-color: grey; margin: 5px auto; }
    #logo { width: 200px; height: 60px; background-color: lightslategrey; float: left; }
    nav { float: left; margin-left: 450px; }
    nav li { display: inline-flex; margin-right: 20px; font-weight: bold; font-size: 18px; }
    nav li a { color: silver; text-decoration: none; }
    nav li a:hover { color: moccasin; text-decoration: underline dashed; font-weight: bold; }
#carousel { width: 100%; height: 400px; background: url(bgplaceholder.jpg); background-size: 20% 20%; position: relative; padding: 5px 0; margin-bottom: 5px; }
section#carousel > figure > img { display: none; margin-left: 600px; }
section#carousel > figure.visible > img { display: block; overflow: hidden; }
section.banner { width: 100%; height: 140px; background-color: darkgrey; margin: 5px; padding: 5px 0; }
section.banner h1 { color: dimgray; background-color: whitesmoke; font-size: 50px; text-align: center; padding: 0px 0; }





#parent { display: flex; width: 100%; height: 388px; background-color: dimgrey; padding: 175px 25px; margin-bottom: 5px; flex-direction: row wrap; }
.child { width: 460px; height: 380px; background-color: grey; padding: 20px 20px; margin: 5px auto; text-align: center; }
.child1 { width: 460px; height: 380px; background: lightgrey; float: left; margin-right: 10px 0 0 20px; }
.child2 .child3 { width: 460px; height: 380px; float: left; margin-left: 20px; background: darkgray; }
.child4 { width: 460px; height: 380px; background: lightgrey; float: left; margin-left: 10px 0 0 20px; }
.button { width: 150px; height: 35px; padding: 10px 10px 5px 5px; margin-left: 150px; margin-top: 100px; border: 1px solid black; border-radius: 5px; 
        background: linear-gradient(#c8c8c8, #969696); text-align: center ; align-items: center; font-size: 20px; cursor: pointer; }
.button a {color: ghostwhite; text-decoration: none; }
.button:hover { background: linear-gradient(#969696, #c8c8c8); }




.footer { width: 100%; height: 60px; background-color: dimgrey; text-align: center; font-size: 40px; }
.container2 { width: 100%; height: 100%; background-color: grey; }